# Data & Run files
wide_and_deep_tutorial/.ipynb_checkpoints/
wide_and_deep_tutorial/.ipynb_checkpoints/wide_and_deep_export-checkpoint.ipynb
wide_and_deep_tutorial/serving_savemodel

# tmp files
wide_and_deep_tutorial/__pycache__/
wide_and_deep_tutorial/.DS_Store
tmp/
